nav{
    background-color: #7fdfd4;
    color: #f2857d;
    width: 100%;
    height: 100px;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;

}
nav a{
    color: #f2857d ;
}
h1,h2 {
    text-align: center;
    color: #f2857d;
}
#background{
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2); 
}    
body{
    text-align: center;
}
.product{
    width: 500px;
    height: 500px;
    text-align: center;
    border: 5px solid #f8af9a ;
}
.shot{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    float: right;   
    border: 5px solid #f8af9a ;
}
footer{
    background-color: #7fdfd4;
    text-align: center;
}
